rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /donations/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /items/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /events/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /activeLogs/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /alerts/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /sensorSnapshots/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /predictions/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /lockers/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /retrievals/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /fleet/{docId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /mail/{docId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /biometric_snapshots/{docId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if request.auth != null;
    }

    match /transaction_history/{docId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if request.auth != null;
    }

    match /system_logs/{docId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if false;
    }

    match /deniedAttempts/{docId} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if true;
    }

    match /qr_sessions/{docId} {
      allow read, write: if true;
    }
  }
}
